#main {
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50%;
    margin: 50px;
}

#second {
    width: 100px;
    height: 100px;
    background: red;
    margin: 50px;
}

#square {
    width: 100px;
    height: 100px;
    background: #0000ff;
    margin: 50px;
}
#circle {
    width: 100px;
    height: 100px;
    background: pink;
    margin: 50px;
    border-radius: 50%;
}